<% include ../partials/boilerplate.ejs %>

<h1> <%= data.title %> </h1>
<h3> description: </h3> <p><%= data.content %></p>
<h3> price: </h3><p><%= data.price %></p>
<h4> location: </h4><p><%=data.location%></p>
<img src="<%=data.imgurl%>">

<a href="/posts/<%=data.id%>/edit"><button>edit</button></a>

<h5><% include ../partials/footer.ejs %></h5>